body {
    margin: 0;
    font-family: Arial, sans-serif;}

table {
    border-radius: 10px;
    overflow: hidden;
}

th {
    background-color: rgba(0,0,0,0.2);
    color: white;
}

td {
    text-align: center;
    font-weight: bold;
}

input[type="button"] {
    font-size: 40px;/*Tamaño de fuente*/
    padding: 20px 40px;
    font-weight: bold; /*Agrega negrita al texto del botón*/
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    background-color: rgba(5, 55, 255, 0.907);
}

#tabla {
    display: flex;
    flex-wrap: wrap; /* permite que bajen en filas */
    justify-content: center;
    gap: 30px; /* espacio entre tablas */
    padding: 20px;
}

/* cada tabla dentro */
#tabla div {
    flex: 0 0 auto;
}
